<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contract info</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
  <div class="nav-wrapper grey lighten-2">
    <a href="/" class="brand-logo center black-text">Notary</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/clients" class="black-text">Clients</a></li>
      <li><a href="/contracts" class="black-text">Contracts</a></li>
      <li><a href="/services" class="black-text">Services</a></li>
    </ul>
  </div>
</nav>

<div class="row center">
  <div class="col s4">
    <h3>Client</h3>
    <br><br>
    <h6 th:text="'Name: '+${contract.getClient().name}">Name</h6>
    <br><br>
    <h6 th:text="'Surname: '+${contract.getClient().surname}">Surname</h6>
    <br><br>
    <h6 th:text="'Employment: '+${contract.getClient().employment}">Employment</h6>
    <br><br>
    <h6 th:text="'Address: '+${contract.getClient().address}">Address</h6>
    <br><br>
    <h6 th:text="'Phone: '+${contract.getClient().contact}">Contact</h6>
    <br><br>
  </div>
  <div class="col s4">
    <h3>Contract </h3>
    <br><br>
    <h6 th:text="'№' + ${contract.getId()}"></h6>
    <br><br>
    <h6 th:text="'Name: '+${contract.getClient().name} + ' ' + ${contract.getClient().surname}">Client</h6>
    <br><br>
    <h6 th:text="'Service: '+${contract.getService().name}">Service</h6>
    <br><br>
    <h6 th:text="'Commission: '+${contract.getCommission()} + '%'">Commission</h6>
    <br><br>
    <h6 th:text="'Sum: '+${contract.getTotalSum()} + '$'">Sum</h6>
    <br><br>
    <h6 th:text="'Date: '+${contract.getDate()}">Date</h6>
  </div>
  <div class="col s4">
    <h3>Service</h3>
    <br><br>
    <h6 th:text="'Name: '+${contract.getService().name}">Name</h6>
    <br><br>
    <h6 th:text="'Price: '+${contract.getService().price} + '$'">Price</h6>
    <br><br>
    <p th:text="'Description: '+${contract.getService().description}">Description</p>
    <br><br>
  </div>
</div>

</body>
</html>
