<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create contract</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>

<nav>
    <div class="nav-wrapper grey lighten-2">
        <a href="/" class="brand-logo center black-text">Notary</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/clients" class="black-text">Clients</a></li>
            <li><a href="/contracts" class="black-text">Contracts</a></li>
            <li><a href="/services" class="black-text">Services</a></li>
        </ul>
    </div>
</nav>

<div class="row" style="width: 600px">
    <form action="/contracts/create"  method="post">
        <div style="margin-left:  42%"><i class="large material-icons">insert_drive_file</i></div>

        <div class="input-field col s12">
            <select name="clientId">
                <option value="Client"disabled selected>Client</option>
                <tr th:each="client : ${clientList}">
                    <option th:value="${client.id}" th:text="${client.name} +' ' + ${client.surname}"></option>
                </tr>
            </select>
            <label>Client</label>
        </div>

        <div class="input-field col s12">
            <select name="serviceId">
                <option value=""disabled selected>Service</option>
                <tr th:each="service : ${serviceList}">
                    <option th:value="${service.id}" th:text="${service.name}"></option>
                </tr>
            </select>
            <label>Service</label>
        </div>

        <div class="input-field col s12">
            <input name="commission" type="text">
            <label>Commission</label>
        </div>

        <button class="waves-effect red accent-2 btn-large" style="margin-left: 38%" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
</body>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</html>