<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper grey lighten-2">
        <a href="/" class="brand-logo center black-text">Notary</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/clients" class="black-text">Clients</a></li>
            <li><a href="/contracts" class="black-text">Contracts</a></li>
            <li><a href="/services" class="black-text">Services</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <a style="float: left; width: auto" class="black-text" href="/services"><h1>Services</h1></a>

    <div style="float:left; margin-top: 80px; margin-left: 50px">
        <form class="searchForm" action="/services/search" method="get">
            <input class="search" type="search" name="search">
            <i class="fa fa-search"></i>
        </form>
    </div>

    <div style="position: absolute">
        <h5 style="color: brown" th:if="${serviceList} == null">Nothing was found</h5>
        <div  th:unless="${serviceList == null}">
            <h5 style="color: brown" th:if="${serviceList.isEmpty()}">Nothing was found</h5>
        </div>
    </div>

    <a href="/services/create"><i style="float: right; margin-top: 59px; margin-right: 5%" class="medium material-icons">library_add</i></a>

    <table class="table table-striped highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${serviceList}">
            <td th:text="${service.getName()}"></td>
            <td th:text="${service.getDescription()}"></td>
            <td th:text="${service.getPrice()} + '$'"></td>
            <td>
                <a th:href="@{'/contracts/search?search=' + ${service.getName()}}"><i class="material-icons">low_priority</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<style>
    form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    form:hover{
        width: 200px;
        cursor: pointer;
    }

    form:hover input{
        display: block;
    }

    form:hover .fa{
        background: #07051a;
        color: white;
    }
</style>
